Visualização de Variáveis e textos

In [ ]:
print('Conecendo o comando Print')

x = 8
print(x)

Conecendo o comando Print
8

In [ ]:
y = 10
soma = x + y
print(soma)

18

In [ ]:
nome = 'Djalma souza'
print(nome)

Djalma souza

Concatenção

In [ ]:
x = 5
print('O valor de x é', x)

O valor de x é 5

In [ ]:
print('O valor de x é', x, ' e o dobro é', x * 2 )

O valor de x é 5  e o dobro é 10

In [ ]:
print('Eu,', nome, 'tirei',x , 'na prova de Pyton')

Eu, Djalma souza tirei 5 na prova de Pyton

In [ ]:
y = 10; z = 20 + x - y
print('colocar várias variáveis na mesma linha:',y ,z)

colocar várias variáveis na mesma linha: 10 15

Type

In [ ]:
x = 10
type(x)
print('x' , type(x))

nome = 'Djalma'
print('nome', type(nome))

num = '100'
num_convert = int(num)   # converter variável
print('num' , type(num))
print('num_convert', type(num_convert))
num_float = float(num)
print('num_float', num_float)

x <class 'int'>
nome <class 'str'>
num <class 'str'>
num_convert <class 'int'>
num_float 100.0

In [ ]:
num = 1000
type(num)

int

In [ ]:
num_convert = float(num)
print('num' , type(num))
print('num_convert' , type(num_convert))

num <class 'int'>
num_convert <class 'float'>

Input
* Armazenar a informação digitada pelo usuário em uma variável.
* O Dado armazenado sempre será um texto.

In [ ]:
nome = input('digite o nome de usuário:')
print(nome)

digite o nome de usuário:Djalma
Djalma

In [ ]:
valor = input('digite o valor do produto: ')
print(valor)

digite o valor do produto: 10
10

In [ ]:
desconto = input('digite o valor do desconto:' )

digite o valor do desconto:10

In [ ]:
desconto = valor - 5

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [ ]:
valor_convert = int(valor)
desconto = valor_convert - 5
print(desconto)

5